/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

h1 {
  /* width: calc(100px / 2); */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


